.banner{
    margin-top:10vh;
    height: 80vh;
    margin-bottom: 80px;
    color:rgb(16, 16, 16);
    object-fit: contain;
}
.banner__contents{
    margin-left: 30px;
    padding-top: 300px;

}
.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color:rgb(241, 241, 241);
}
.banner__description{
    width: 45rem;
    line-height: 1;
    padding: 1rem 0;
    font-size: 1rem;
    max-width:360px;
    height: 80px;

}
.banner__button{
    
        background-color:green; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      

}
.play{
    color: #000;
    background-color: #fff;
    font-size: 16px;
    padding:15px 32px ;
}
.banner__buttons:hover{
    color: #000;
    background-color: #c6c6c6;
    transition: all0.2s;
}
.banner__fadeBottom{
    height: 10vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(37,37,37,0.91),
        #111
    );
}