.row__poster{
    width: 100%;
    object-fit: contain;
    max-height: 90px;
    transition: transform 450ms;
    margin-right: 10px;
}
.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 60px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}
.row__poster:hover {
    transform: scale(1.08);
}
.row__postersLarge{
    max-width: 250px;
}
.row__postersLarge:hover{
    transform: scale(1.09);
}